.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f24c3d;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  padding-bottom: 10vh;
}

#date {
  color: grey;
  font-size: 5vw;
}

#timer {
  font-size: 10vw;
}
