body {
  padding: 0;
  margin: 0;
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecf8f9;
  color: #e55807;
  font-size: 10vw;
  font-family: "Courier New", Courier, monospace;
}
