body {
  padding: 0;
  margin: 0;
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aliceblue;
  color: orange;
  font-size: xxx-large;
  font-family: "Courier New", Courier, monospace;
}
